@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<LogRWebMonitor.Components.Monitor></LogRWebMonitor.Components.Monitor>

<SurveyPrompt Title="How is Blazor working for you?" />
