@using Microsoft.AspNetCore.Components.Web

<div class="mb-1">
	<label class="form-check-label p-0 word-break-all">
		<input type="checkbox" checked="checked" class="form-check-input" @onclick="@(e => ShowFilteredLogs())" /> @ChildContent
	</label>
</div>