@using Microsoft.AspNetCore.Components.Web
<div class="mb-1">
	<input type="checkbox" checked="checked" class="form-check-input" @onclick="@(e => ShowFilteredLogs())" />
	<label class="form-check-label">@ChildContent</label>
</div>


