@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@filter" OnSubmit="ApplyFilter" class="row gy-2 gx-3 mb-2 align-items-center filter">
    <div class="col-auto">
        @foreach(var level in filter.LevelList)
        {
           <label class="form-check-label"><InputCheckbox class="form-check-input" @bind-Value="level.Checked" @onclick="(evt) => LevelChanged(level, evt)" /> @level.Name</label>
        }
    </div>
    <div class="col-auto">
        <label class="visually-hidden" for="Search">Search :</label>
        <InputText @bind-Value="filter.Search" class="form-control" placeholder="Search" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Apply</button>
    </div>
</EditForm>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>CreationDate</th>
                <th>MachineName</th>
                <th>HostName</th>
                <th>ApplicationName</th>
                <th>Level</th>
                <th>Context</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody @ref="tbody">
           @foreach (var item in logInfoList)
           {
               <LogRow Log="item"/>
           }
        </tbody>
    </table>
</div>
